
 <div class="container">
     <div class="row">
         <div class="col-sm-0 col-lg-1"></div>
            <div class="col-sm-12 col-lg-10">
                <agm-map [latitude]="4.6097100" [longitude]="-74.0817500">
                        
                        <agm-marker *ngFor="let place of latLon; let i = index" [latitude]="place.Lat" [longitude]="place.Lon"></agm-marker>
                       
            </agm-map>
            </div>
        <div class="col-sm-0 col-lg-1"></div>
    </div>
</div>
<!-- <p *ngFor="let item of latLon" >
    {{item.Estacion}}
    {{item.Lat}}
    {{item.Lon}}
</p> -->