<div class="row">
  <div class="col-sm-4">
      <div class="card text-white bg-primary " >
          <div class="card-header">Hora de Bogota</div>
          <div class="card-body">
              <h5 class="card-title">Fecha y hora actual</h5>
              <p  class="card-text">
                  {{date | date:'dd/MM/yyyy'}} <br> {{ date2 | date:'shortTime' }} </p>
          </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="card text-white  bg-danger mb-3 w-80" >
          <div class="card-header">Precio de Transmilenio</div>
          <div class="card-body">
              <h6 class="card-title">Servicios troncales: $2.300 por pasaje, todo el día</h6>
              <p  style="font-size: 70%"class="card-text">Servicios zonales: $2.100 por pasaje, todo el día <br> Tarjeta Tullave: $5.000 por tarjeta <br> Transbordo de troncal a zonal y también de zonal a zonal: Gratis <br> Transbordo de zonal a troncal: $200 por pasaje</p>
          </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="card text-white bg-success mb-3">
          <div class="card-header">Horario Transmilenio</div>
          <div class="card-body">
              <h5 class="card-title">Lunes a Viernes (festivos no incluidos): de 04:00 am a 11:00 pm</h5>
              <p class="card-text">Sábados: de 05:00 am a 11:00 pm <br> Domingos y festivos: de 05:00 am a 10:00 pm</p>
          </div>
      </div>
  </div>