<div id="div">
    <h2 style="text-align: center"><span class="badge badge-pill badge-primary badge-lg">Datos De Perfil</span></h2>
    
    
    <div class="form-group">
            <img src="../../../assets/images/logo.png" style="align-content: center;width: 20%; margin-left:40%">
            <br>
            <br>
            <div class="row" style="margin-bottom: 20%; margin-left:10%">
              <br>
              <div class="col">
                <h3 ><span class="badge badge-pill badge-primary badge-lg">Numero De Identificacion</span></h3>
    
              <input disabled value="{{userDetails.userName}}">
              </div>
              <br>
              <div class="col">
                <h3 ><span class="badge badge-pill badge-primary badge-lg">Email de Usuario</span></h3>
    
              <input disabled value="{{userDetails.email}}">
              </div>
              <br>
              <div class="col">
                <h3><span class="badge badge-pill badge-primary badge-lg">Nombre De Usuario</span></h3>
              
                <span style="padding:2%"><input disabled value="{{userDetails.fullName}}" ></span>
            </div>
              
    </div>
    </div>
    
              
            </div>
    