<div [@routerTransition]>
    <h2 class="text-muted">Bienvenido a tu Perfil</h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                    <a href='{{slider.link}}' target="_blank"><h3 style="color:black; background-color:wheat"><b>{{slider.label}}</b></h3></a>   
                        <p style="color:black; background-color:wheat">{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [label]="'Canales De Atencion'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'"  [label]="'Defensor Del Usuario'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-comments'" [label]="'Peticiones, Quejas, Reclamos'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-tasks'"  [label]="'Información pública TransMilenio'"></app-stat>
        </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> 
                </div>
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> 
                </div>
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> 
                </div>
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> 
                </div>
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> 
                </div>
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> 
                </div>
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> 
                </div>
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> 
                </div>
                <!-- /.card-header -->
<!--                 <app-timeline></app-timeline>
 -->                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
           
            <app-chat></app-chat>
            <!-- /.card .chat-card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
