<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div style="width: 300px;  ">
            <div id="carouselExampleControls" class="carousel vert slide" data-ride="carousel" data-interval="2500">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>


                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="fill" style=" background-color:#777777; color:#fff">
                            <br>
                            <div class="d-none d-md-block">
                                <h5 style="text-align: center">Precios Transmilenio</h5>
                                <p style="text-align: center ; font-size: 15px; padding:2%">Servicios troncales: $2.300 por pasaje, todo el día</p>
                                <br>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="fill" style=" background-color:#e7ba26; color:#fff">
                        <br>
                            <div class="d-none d-md-block" >
                                <h5 style="text-align: center">Precios Transmilenio</h5>
                                <p style="text-align: center ; font-size: 15px; padding:2%">Servicios zonales: $2.100 por pasaje, todo el día</p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="fill" style=" background-color:#dd4444; color:#fff">
                        <br>   
                            <div class="d-none d-md-block">
                                <h5 style="text-align: center">Precios Transmilenio</h5>
                                <p style="text-align: center ; font-size: 15px; padding:3%">Tarjeta Tullave: $5.000 por tarjeta </p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="fill" style=" background-color: #319DC8; color:#fff">
                        <br> 
                            <div class="d-none d-md-block">
                                <h5 style="text-align: center">Precios Transmilenio</h5>
                                <p style="text-align: center ; font-size: 15px; padding:3%">Transbordo de troncal a zonal y también de zonal a zonal: Gratis</p>
                                <br>
                            </div>
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <div class="fill" style=" background-color: #AECC70; color:#fff">
                        <br>
                            <div class="d-none d-md-block">
                                <h5 style="text-align: center">Precios Transmilenio</h5>
                                <p style="text-align: center ; font-size: 15px; padding:3%">Transbordo de zonal a troncal: $200 por pasaje</p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
  </div>
  </div>

  <br>

  <div style="width: 300px; ">
      <div id="carouselExampleControls" class="carousel vert slide" data-ride="carousel" data-interval="3000">
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="fill" style=" background-color:#dd4444; color:#fff">
                    <div class="d-none d-md-block" style="padding: 2%">
                      <h5 style="text-align: center">Horarios Transmilenio</h5>
                      <p style="text-align: center; font-size: 15px">Lunes a Viernes (festivos no incluidos)</p>
                      <p style="text-align: center; font-size: 15px">de 04:00 am a 11:00 pm</p>
                      <br>
                    </div>
                </div>    
              </div>
              <div class="carousel-item">
                  <img class="d-block mx-auto img-fluid" src="//placehold.it/800x400/dd4444/fff" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block" >
                      <p>Horarios Transmilenio</p>
                      <p>Sábados: de 05:00 am a 11:00 pm <br> Domingos y festivos: de 05:00 am a 10:00 pm</p>
                    </div>
              </div>
              
          </div>
</div>
</div>

<br>

<div style="width: 300px; ">
    <div id="carouselExampleControls" class="carousel vert slide" data-ride="carousel" data-interval="2000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block mx-auto img-fluid" src="//placehold.it/800x400" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block mx-auto img-fluid" src="//placehold.it/800x400/dd4444/fff" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block mx-auto img-fluid" src="//placehold.it/800x400/777" alt="Third slide">
            </div>
        </div>
</div>
</div>
  
</body>
</html>
