
    <div id="carrusel">
            <div id="carouselExampleControls" class="carousel vert slide" data-ride="carousel" data-interval="2500">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>


                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="fill" style=" background-color:#DA020D;; color:#fff">
                            <br>
                            <div class="d-none d-md-block">
                                <h5 style="text-align: center">Precios Transmilenio</h5>
                                <p style="text-align: center ; font-size: 15px; padding:2%">Servicios troncales: $2.300 por pasaje, todo el día</p>
                                <br>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="fill" style=" background-color:#e7ba26; color:#fff">
                        <br>
                            <div class="d-none d-md-block" >
                                <h5 style="text-align: center">Precios Transmilenio</h5>
                                <p style="text-align: center ; font-size: 15px; padding:2%">Servicios zonales: $2.100 por pasaje, todo el día</p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="fill" style=" background-color:#777777; color:#fff">
                        <br>   
                            <div class="d-none d-md-block">
                                <h5 style="text-align: center">Precios Transmilenio</h5>
                                <p style="text-align: center ; font-size: 15px; padding:3%">Tarjeta Tullave: $5.000 por tarjeta </p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="fill" style=" background-color: #319DC8; color:#fff">
                        <br> 
                            <div class="d-none d-md-block">
                                <h5 style="text-align: center">Precios Transmilenio</h5>
                                <p style="text-align: center ; font-size: 15px; padding:3%">Transbordo de troncal a zonal y también de zonal a zonal: Gratis</p>
                                <br>
                            </div>
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <div class="fill" style=" background-color: #AECC70; color:#fff">
                        <br>
                            <div class="d-none d-md-block">
                                <h5 style="text-align: center">Precios Transmilenio</h5>
                                <p style="text-align: center ; font-size: 15px; padding:3%">Transbordo de zonal a troncal: $200 por pasaje</p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
  </div>
  </div>

  <br>

  <div id="carrusel">
      <div id="carouselExampleControls" class="carousel vert slide" data-ride="carousel" data-interval="4000">
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="fill" style=" background-color:#7d6597; color:#fff">
                    <div class="d-none d-md-block" style="padding: 2%">
                      <h5 style="text-align: center">Horarios Transmilenio</h5>
                      <p style="text-align: center; font-size: 15px">Lunes a Viernes (festivos no incluidos)</p>
                      <p style="text-align: center; font-size: 15px">de 04:00 am a 11:00 pm</p>
                      <br>
                    </div>
                </div>    
              </div>
              <div class="carousel-item">
                <div class="fill" style=" background-color:#0A377B; color:#fff">
                  <div class="d-none d-md-block"  style="padding: 2%" >
                      <h5 style="text-align: center">Horarios Transmilenio</h5>
                      <p style="text-align: center; font-size: 15px">Sábados: de 05:00 am a 11:00 pm <br> Domingos y festivos: de 05:00 am a 10:00 pm</p>
                    </div>
                    <br>
                </div>
              </div>
              
          </div>
</div>
</div>

<br>

<div id="carrusel">
    <div id="carouselExampleControls" class="carousel vert slide" data-ride="carousel" data-interval="2000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="fill" style=" background-color:#AA6B0C; color:#fff ">
                    <div class="d-none d-md-block"  style="padding: 2%" >
                            <h5 style="text-align: center">CICLOPARQUEADEROS</h5> 
                    </div>
                    <img class="d-block mx-auto img-fluid" src="../../../../assets/images/Ricaurte.png" alt="First slide">
                </div>
            </div>
            <div class="carousel-item">
                <div class="fill" style=" background-color:#D4B17B; color:#fff ">
                    <div class="d-none d-md-block"  style="padding: 2%" >
                            <h5 style="text-align: center">CICLOPARQUEADEROS</h5> 
                    </div>
                    <img class="d-block mx-auto img-fluid" src="../../../../assets/images/Calle261.PNG" alt="Second slide" style="width: 75%">
                    <br>
                </div>
                <br>
            </div>
            <div class="carousel-item">
                <div class="fill" style=" background-color:#DA020D; color:#fff ">
                    <div class="d-none d-md-block"  style="padding: 2%" >
                            <h5 style="text-align: center">CICLOPARQUEADEROS</h5> 
                    </div>
                    <img class="d-block mx-auto img-fluid" src="../../../../assets/images/Americas1.PNG" alt="Third slide" style="width: 75%">
                    <br>
                </div>
                <br>
            </div>
            <div class="carousel-item">
                    <div class="fill" style=" background-color:#019DDA; color:#fff ">
                        <div class="d-none d-md-block"  style="padding: 2%" >
                                <h5 style="text-align: center">CICLOPARQUEADEROS</h5> 
                        </div>
                        <img class="d-block mx-auto img-fluid" src="../../../../assets/images/Autosur.png" alt="Fourth slide" style="width: 75%">
                        <br>
                    </div>
                    <br>
            </div>
            <div class="carousel-item">
                    <div class="fill" style=" background-color:#DA020D; color:#fff ">
                        <div class="d-none d-md-block"  style="padding: 2%" >
                                <h5 style="text-align: center">CICLOPARQUEADEROS</h5> 
                        </div>
                        <img class="d-block mx-auto img-fluid" src="../../../../assets/images/Americas2.PNG" alt="Fifth slide" style="width: 75%">
                        <br>
                    </div>
                    <br>
            </div>
            <div class="carousel-item">
                    <div class="fill" style=" background-color:#F9C028; color:#fff ">
                        <div class="d-none d-md-block"  style="padding: 2%" >
                                <h5 style="text-align: center">CICLOPARQUEADEROS</h5> 
                        </div>
                        <img class="d-block mx-auto img-fluid" src="../../../../assets/images/Suba.PNG" alt="Sixth slide" style="width: 75%">
                        <br>
                    </div>
                    <br>
            </div>
            <div class="carousel-item">
                    <div class="fill" style=" background-color:#D4B17B; color:#fff ">
                        <div class="d-none d-md-block"  style="padding: 2%" >
                                <h5 style="text-align: center">CICLOPARQUEADEROS</h5> 
                        </div>
                        <img class="d-block mx-auto img-fluid" src="../../../../assets/images/Calle262.PNG" alt="Seven slide" style="width: 75%">
                        <br>
                    </div>
                    <br>
                </div>
            <div class="carousel-item">
                    <div class="fill" style=" background-color:#01959F; color:#fff ">
                        <div class="d-none d-md-block"  style="padding: 2%" >
                                <h5 style="text-align: center">CICLOPARQUEADEROS</h5> 
                        </div>
                        <img class="d-block mx-auto img-fluid" src="../../../../assets/images/Calle10.PNG" alt="Eight slide" style="width: 75%">
                        <br>
                    </div>
                    <br>
            </div>
        </div>
            
            
</div>
</div>
  

